

body{
     background-image:url("IMG.jpg");
    color:white;
    font-size:30px;
    text-align: center;
background-size:cover;
background-repeat:no repeat;
background-attachment: fixed;
text-shadow:1px 6px #000000;
}


span{
    color:#ff9d00;
    text-shadow:1px 5px#ff4a2b;
    
}


div.container{ text-align: center;
background-image:;
background-size:cover;
background-repeat:no repeat;
background-attachment: fixed;
animation-name: rotate;
animation-duration:4s;
animation-iteration-count: infinite;
}


    div.about h5{
          height: 50px;
        width: 150px;
        background-color:black;
        padding:10px;
        border-radius: 10px;
        display: none;
        margin-left:100px;
        color:white;
        text-decoration:none;
   }
         
div.about:hover h5{
    display:block;
    
}


div.ass{
    color: #ff9d00;
    font-family: open sans ;
    

}

div.afd{
    color:black;
    text-shadow : 1px 5px #ff1f00;
   }

div.hsd{
    background-color:#000000ea;
    border-radius:5px;
    text-align: center;
    text-shadow:1px 6px 3px #ff3400;
     
}

footer{
margin-down:50px;
    
}

h2{
    background-color:#ff9d00;
    border-radius:5px;
    text-shadow:1px 6px #000000;
    text-align: center;
}

i{
    font-size:70px;
}
pre{
    text-align: center;
    padding: 20px;
}

hr{
    color:#000000;
}
#abt div{
        text-shadow:0px 0px;
       height: 200px;
       width: 900px;
       font-size:50px ;
     color:#000000;
      border-radius: 5px;
     text-align: center;
    background-color:#ffdc00;
    margin-left:200px;
    display:none;
}
#abt:hover div{
    display:block;
  
}
@keyframes rotate{
    100%{transform:rotateY(360deg)}
}
#ourservice li{
         text-shadow:0px 0px;
          position: relative;
          
       height: 200px;
       width: 300px;
       font-size:40px ;
     color:#000000;
      border-radius: 5px;
     text-align: center;
    background-color:#6afff5;
    margin-left:550px;
    display:none;
      border:5px solid;
   
}
#ourservice:hover li{
    display:block;
}
#address div{
        text-shadow:0px 0px;
           box-shadow:1px 3px 5 #000000;
       height:auto;
       width: 500px;
       font-size:50px ;
     color:#000000;
      border-radius: 7px;
     text-align: center;
    background-color:#50ff00;
    margin-left:250px;
    display:none;
    border:5px solid;
    position: fixed;
    
}
#address:hover div{
    display:block;
}

body p{
    animation-name:shrink;
    animation-duration:2s;
    animation-iteration-count: 2;
}
@keyframes shrink{
     50%{transform: scale(0.5,0.5)}
    
}
.client h4{
    animation-name:shrink;
    animation-duration:4s;
    animation-iteration-count: 2;
}

@keyframes shrink{
        50%{transform: scale(0.5,0.5)}
        }
i{
    animation-name:shrink;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes shrink{
        50%{transform: scale(0.5,0.5)}
        }
.about span{
    margin-left:40px;
    color:white;
    text-shadow:1px 4px #000000;
}
